<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <Title>Klima</Title>
</head>

<body>
    <script src='graphics/temp.js'></script>
    <div id='temp'></div>
    
    <script src='graphics/nied.js'></script>
    <div id='nied'></div>

    <script src="graphics/wind.js"></script>
    <div id="wind"></div>
</body>